<template>
    <div>
        <div>
            <vs-navbar v-model="activeItem" class="nabarx">
                <div style="cursor: pointer;"  slot="title"><vs-navbar-title><div @click="$router.push({name: 'home'})"> Magma3a Task</div></vs-navbar-title></div>
                <vs-navbar-item v-if="!isLogin" index="0"><a href="javascript:void(0)" @click="$router.push({name: 'login'})">Login</a></vs-navbar-item>
                <vs-navbar-item v-if="!isLogin" index="0"><a href="javascript:void(0)" @click="$router.push({name: 'register'})">Register</a></vs-navbar-item>
                <vs-navbar-item v-if="isLogin">
                    <vs-dropdown style="margin-right: 10px">
                        <vs-button class="btn-drop" type="success-gradient"><vs-avatar :src="avatarImageUrl"/></vs-button>
                        <vs-dropdown-menu>
                            <vs-dropdown-item @click="$router.push({name: 'my-posts'})">Posts</vs-dropdown-item>
                            <vs-dropdown-item divider @click="logout">Logout</vs-dropdown-item>
                        </vs-dropdown-menu>
                    </vs-dropdown>
                </vs-navbar-item>
            </vs-navbar>
        </div>
        <div class="mb-5">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            avatarImageUrl:`${process.env.MIX_APP_BASE_URL}/images/avatar.png`,
            activeItem: 0
        }
    },
    computed: {
        activeUserInfo() {
            return this.$store.getters['moduleAuth/user_data']
        },
        isLogin() {
            return this.$store.getters['moduleAuth/is_logged_in']
        }
    },
    methods: {
        logout() {
            this.$store.dispatch('moduleAuth/logOut').then(() => {
                this.$router.push({name: 'login'})
            }).catch(() => {
                this.$router.push({name: 'login'})
            })
        }
    }
}
</script>
