<template>
    <div class="col-md-12" style="margin-top: 10%;">
        <div class="container">
            <vs-row vs-justify="center">
                <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
                    <vs-card vs-type="flex" vs-justify="center">
                        <div slot="header" class="text-center">
                            <h3 class="font-small">Login</h3>
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" class="form-control form-control-lg" name="email" v-model="formData.email" v-validate="'required|email|min:3'" data-vv-validate-on="change|blur"/>
                            <span class="text-danger text-sm">{{ errors.first('email') }}</span>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control form-control-lg" name="password" data-vv-validate-on="change|blur" v-validate="'required|min:6|max:10'" v-model="formData.password"/>
                            <span class="text-danger text-sm">{{ errors.first('password') }}</span>
                        </div>
                        <div class="social-icons text-center">
                            <vs-divider>OR</vs-divider>
                            <vs-button class="google-icon" @click.prevent="authProvider('google')" size="default" color="danger" type="filled"><i class="fab fa-google"></i></vs-button>
                        </div>
                        <div class="w-full action_buttons">
                            <vs-button class="action_register" type="border" to="/register">Register</vs-button>
                            <vs-button class="action_login" :disabled="!validateForm" @click="login">Login</vs-button>
                        </div>
                    </vs-card>
                </vs-col>
            </vs-row>
        </div>
    </div>
</template>
<script>

export default {
    data() {
        return {
            appName: process.env.VUE_APP_NAME,
            formData: {
                email: 'admin@admin.com',
                password: '123456'
            }
        }
    },
    computed: {
        validateForm() {
            return !this.errors.any() && this.formData.email !== '' && this.formData.password !== ''
        },
    },
    methods: {
        login() {
            this.$vs.loading({type: 'radius'})
            this.$store.dispatch('moduleAuth/login', this.formData)
                .then(response => {
                    const {data} = response
                    const {user_data} = data.data
                    this.$router.replace({name: 'home'})
                    this.$vs.notify({
                        color: 'success',
                        position: 'top-right',
                        title: 'Welcome Back',
                        iconPack: 'feather',
                        text: 'Login Successful..!!',
                        icon: 'icon-check'
                    })
                    this.$vs.loading.close()
                })
                .catch(error => {
                    console.log(error)
                    this.$vs.notify({
                        title: 'login error',
                        position: 'top-right',
                        text: 'The login information is incorrect',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger'
                    })
                    this.$vs.loading.close()
                })
        },
        authProvider(provider) {
            this.$vs.loading({type: 'radius'})
            let self = this;
            this.$auth.authenticate(provider).then(response => {
                self.socialLogin(provider, response)
                this.$vs.loading.close()
            }).catch(err => {
                this.$vs.notify({
                    title: 'login error',
                    position: 'top-right',
                    text: 'login error',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'danger'
                })
                this.$vs.loading.close()
            })
        },
        socialLogin(provider, response) {
            this.$vs.loading({type: 'radius'})
            this.$store.dispatch('moduleAuth/socialLoginCallback', response)
                .then(response => {
                    const {data} = response
                    const {user_data} = data.data
                    this.$router.replace({name: 'home'})
                    this.$vs.notify({
                        color: 'success',
                        position: 'top-right',
                        title: 'Welcome',
                        iconPack: 'feather',
                        text: 'Login Successful..!!',
                        icon: 'icon-check'
                    })
                    this.$vs.loading.close()
                })
                .catch(error => {
                    this.$vs.notify({
                        title: 'login error',
                        position: 'top-right',
                        text: 'The login information is incorrect',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger'
                    })
                    this.$vs.loading.close()
                })
        }
    },
    created() {
        this.$vs.loading.close()
    },
}
</script>
<style lang="scss">
.social-icons .google-icon {
    padding: 0.2rem 1rem;
    font-size: 20px;
}
.vs-button-primary.vs-button-filled:hover {
    -webkit-box-shadow: 0 8px 25px -8px rgba(var(--vs-primary), 1);
    box-shadow: 0 8px 25px -8px rgba(var(--vs-primary), 1);
}
.action_buttons .action_register {
    padding: 0.5rem 1.5rem;
}
.action_buttons .action_login {
    float: right;
    padding: 0.5rem 1.5rem;
}
</style>
