<template>
    <div class="container">
        <div v-if="isLogin">
            <post-popup-from-component :isPopupActive="isPopupActive" @fetchItems="fetchItems" @closePopup="isPopupActive = !isPopupActive" :item="popupData"/>
            <div class="w-full m-2 float-left" style="float:right">
                <vs-button color="primary" type="filled" @click="createPost">Create Post</vs-button>
            </div>
            <vs-divider border-style="dashed" color="dark"></vs-divider>
        </div>
        <div class="w-full col-md-12 ">
            <div class="row container">
                <div v-if="items.length > 0" :key="item.id" v-for="item in items" class="col-md-6 m-auto">
                    <post-component @initPopupData="initPopupData" @fetchItems="fetchItems" :item="item"></post-component>
                </div>
            </div>
        </div>
        <vs-pagination prev-icon="<" next-icon=">" :total="last_page" v-model="current_page"></vs-pagination>
    </div>
</template>
<script>
import PostComponent from "../components/PostComponent";
import modulePosts from './../store/stores/posts/modulePosts';
import PostPopupFromComponent from "../components/PostPopupFormComponent";

const MODULE_NAME = 'modulePosts'
export default {
    data() {
        return {
            per_page: 10,
            current_page: 1,
            last_page: 0,
            total: 0,
            isPopupActive: false,
            popupData: {},
        }
    },
    components: {
        PostPopupFromComponent,
        PostComponent
    },

    computed: {
        activeUserInfo() {
            return this.$store.getters['moduleAuth/user_data']
        },
        isLogin() {
            return this.$store.getters['moduleAuth/is_logged_in']
        },
        items() {
            return this.$store.getters[`${MODULE_NAME}/items`]
        }
    },
    watch: {
        current_page() {
            this.fetchItems()
        },
    },
    methods: {
        initPopupData(item) {
            this.popupData = item;
            this.isPopupActive = true;
        },
        fetchItems() {
            this.$vs.loading({type: 'radius'})
            this.$store.dispatch(`${MODULE_NAME}/fetchMyItems`, {page: this.current_page,})
                .then(response => {
                    const responseData = response.data.data
                    this.per_page = responseData.per_page
                    this.page = responseData.current_page
                    this.last_page = responseData.last_page
                    this.total = responseData.total
                    this.$vs.loading.close()
                })
        },
        createPost() {
            this.popupData = {};
            this.isPopupActive = true;
        },
    },
    created() {
        if (!this.$store.hasModule(MODULE_NAME)) this.$store.registerModule(MODULE_NAME, modulePosts)
        this.fetchItems()
    },
}
</script>
