<template>
    <div v-if="item" class="vue-flux-carousel">
        <vue-flux
            v-if="itemImages.length > 0 "
            :options="vfOptions"
            :images="itemImages"
            :transitions="vfTransitions"
            ref="slider">
            <template v-slot:preloader><flux-preloader/></template>
            <template v-slot:caption><flux-caption/></template>
            <template v-slot:controls><flux-controls/></template>
            <template v-slot:pagination><flux-pagination/></template>
            <template v-slot:index><flux-index/></template>
        </vue-flux>
        <div class="content container mt-5">
            <vs-row vs-justify="center">
                <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="12">
                    <vs-card>
                        <div slot="header"><h3 class="text-center">{{ item.title }}</h3></div>
                        <div><span v-html="item.content"></span></div>
                    </vs-card>
                </vs-col>
            </vs-row>
        </div>
    </div>
</template>


<script>
import modulePosts from './../store/stores/posts/modulePosts';
import {
    VueFlux,
    FluxCaption,
    FluxControls,
    FluxIndex,
    FluxPagination,
    FluxPreloader,
} from 'vue-flux';
const MODULE_NAME = 'modulePosts'
export default {
    components: {
        VueFlux,
        FluxCaption,
        FluxControls,
        FluxIndex,
        FluxPagination,
        FluxPreloader,
    },
    data() {
        return {
            vfOptions: {
                autoplay: true
            },
            vfTransitions: ['fade', 'cube', 'book', 'wave'],
            vfCaptions: [],
            post_id: this.$route.params.item_id,
        }
    },
    computed: {
        itemImages() {
            if (this.item && this.item.images) {
                return (this.item.images).map(a => a.path);
            } else {
                return []
            }
        },
        item() {
            return this.$store.getters[`${MODULE_NAME}/item`]
        }
    },
    methods: {
        fetchItem() {
            this.$vs.loading({type: 'radius'})
            this.$store.dispatch(`${MODULE_NAME}/fetchItem`, {post_id: this.post_id,})
                .then(response => {
                    this.$vs.loading.close()
                })
        },
    },
    created() {
        if (!this.$store.hasModule(MODULE_NAME)) this.$store.registerModule(MODULE_NAME, modulePosts)
        this.fetchItem()
    },
}
</script>
<style>
.vue-flux-carousel {
    max-height: 200px;
}
</style>
