<template>
    <div class="centerx" >
        <vs-popup :title="this.itemData.id !== null && this.itemData.id > 0 ? 'UPDATE POST' : 'ADD NEW POST' " :active.sync="isPopupActiveLocal">
            <div class="form-group">
                <label>Post Title</label>
                <input type="text" class="form-control form-control-lg" name="title" v-model="itemData.title" v-validate="'required|min:3'" data-vv-validate-on="change|blur"/>
                <span class="text-danger text-sm">{{ errors.first('title') }}</span>
            </div>
            <vs-divider border-style="dashed" color="dark"></vs-divider>
            <div class="form-group">
                <label>Post Content</label>
                <vue-editor v-model="itemData.content"></vue-editor>
            </div>
            <div id="my-strictly-unique-vue-upload-multiple-image" style="display: flex; justify-content: center;">
                <vue-upload-multiple-image
                    @upload-success="uploadImageSuccess"
                    @before-remove="beforeRemove"
                    @edit-image="editImage"
                    :data-images="itemData.images"
                    dragText="dragText"
                    browseText="Or Browse Image"
                    primaryText="Success"
                    markIsPrimaryText="Success"
                    :maxImage="7"
                    accept="image/jpeg,image/png,image/jpg"
                    popupText="You Can Drop Or Select Multiple Images "
                    dropText="Drop Image"
                    idUpload="myIdUpload"
                    editUpload="myIdEdit"
                ></vue-upload-multiple-image>
            </div>
            <vs-divider border-style="dashed" color="dark"></vs-divider>
            <vs-button class="mr-6" @click="submitData" :disabled="!isFormValid">Submit</vs-button>
        </vs-popup>
    </div>
</template>


<script>
import modulePosts from './../store/stores/posts/modulePosts';
import {VueEditor} from "vue2-editor";
import VueUploadMultipleImage from 'vue-upload-multiple-image'

const MODULE_NAME = 'modulePosts'
export default {
    components: {
        VueEditor,
        VueUploadMultipleImage,
    },
    props: {
        isPopupActive: {
            type: Boolean,
            required: true
        },
        item: {
            type: Object,
            default: () => {
            }
        }
    },
    data() {
        return {
            itemData: {
                id: null,
                title: null,
                content: null,
                images: [],
            },
        }
    },
    watch: {
        isPopupActive(val) {
            if (!val) return
            this.initValues()
            this.$validator.reset()
        }
    },
    computed: {
        isPopupActiveLocal: {
            get() {
                return this.isPopupActive
            },
            set(val) {
                if (!val) {
                    this.$emit('closePopup')
                }
            }
        },
        isFormValid() {
            return !this.errors.any() &&
                !!this.itemData.title &&
                !!this.itemData.content &&
                (this.itemData.images).length > 0

        },
    },
    methods: {
        editImage(formData, index, fileList) {
            const fileListImages = [];
            for (const file in fileList) {
                const image = fileList[file]
                fileListImages.push(image)
            }
            this.itemData.images = fileListImages
        },
        uploadImageSuccess(formData, index, fileList) {
            (this.itemData.images).push(fileList[index])
        },
        beforeRemove(index, done, fileList) {
            done()
            const fileListImages = [];
            for (const file in fileList) {
                const image = fileList[file]
                if (image && image.path)
                    fileListImages.push(image)
            }
            this.itemData.images = fileListImages

        },
        initValues() {
            const {itemData, item} = this
            itemData.id = item.id
            itemData.title = item.title
            itemData.content = item.content
            itemData.images = item.id ? item.images : []
        },
        submitData() {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.$vs.loading({type: 'radius'})
                    const ActionName = this.itemData.id !== null && this.itemData.id > 0 ? 'updateItem' : 'createItem'
                    this.$store.dispatch(`${MODULE_NAME}/${ActionName}`, this.itemData)
                        .then(response => {
                            const responseData = response.data.data
                            this.$vs.notify({
                                color: 'success',
                                title: 'Success',
                                text: response.data.message,
                                position: 'top-right',
                                iconPack: 'feather',
                                icon: 'icon-check'
                            })
                            this.$emit('closePopup')
                            this.$emit('fetchItems')
                            this.$vs.loading.close()
                        }).catch(error => {
                        const {errorDetails, errorMessage} = error.data.errors
                        for (const key in errorDetails) {
                            this.$vs.notify({
                                title: errorMessage,
                                position: 'top-right',
                                text: errorDetails[key][0] ? errorDetails[key][0] : null,
                                iconPack: 'feather',
                                icon: 'icon-alert-circle',
                                color: 'danger'
                            })
                        }
                        this.$vs.loading.close()
                    })
                }
            })
        },
    },
    created() {
        if (!this.$store.hasModule(MODULE_NAME)) this.$store.registerModule(MODULE_NAME, modulePosts)
    }
}
</script>
<style>
#my-strictly-unique-vue-upload-multiple-image {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
</style>
