<template>
    <vs-col type="flex" vs-justify="center" vs-align="center">
        <vs-card actionable class="cardx mb-5">
            <div slot="header" @click="$router.push({name: 'view-post', params: {item_id: item.id }})">
                <h5 class="text-center">{{ item.title }}</h5>
            </div>
            <div slot="media" style="    max-height: 400px;" @click="$router.push({name: 'view-post', params: {item_id: item.id }})">
                <img class="img-fluid img-thumbnail rounded " :src="item.image" alt="">
            </div>
            <div v-if="isLogin && item.user_id === activeUserInfo.id">
                <vs-row>
                    <vs-button class="float-lg-end" color="primary" @click="$router.push({name: 'view-post', params: {item_id: item.id }})" type="gradient">View</vs-button>
                    <vs-button class="m-auto" color="warning" @click.stop="updateItem(item)" type="gradient">Edit</vs-button>
                    <vs-button class="flex-end" color="danger" @click.stop="deleteItem(item)" type="gradient">Delete</vs-button>
                </vs-row>
            </div>
        </vs-card>
    </vs-col>
</template>


<script>
const MODULE_NAME = 'modulePosts'
export default {
    props: {
        item: {
            type: Object,
            required: true,
            default: () => {
            }
        }
    },
    computed: {
        activeUserInfo() {
            return this.$store.getters['moduleAuth/user_data']
        },
        isLogin() {
            return this.$store.getters['moduleAuth/is_logged_in']
        },
    },

    methods: {
        updateItem(item) {
            this.$emit('initPopupData',item)
        },
        deleteItem(item) {
            this.$swal.fire({
                title: 'Are You Sure ?',
                text: `You Want To Delete : ${item.title} #${item.id}`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes Delete It!',
                cancelButtonText: 'NO!',
                reverseButtons: true,
            }).then(result => {
                if (result.value) {
                    this.$store.dispatch(`${MODULE_NAME}/deleteItem`, item.id)
                        .then(response => {
                            this.$swal.fire({
                                title: 'Deleted!',
                                text: response.data.message,
                                icon: 'success',
                                showCancelButton: true,
                                showConfirmButton: false,
                                cancelButtonText: 'OK!',
                                reverseButtons: false,
                            })
                            this.$emit('fetchItems')
                        })
                        .catch(err => {
                            this.$swal.fire({
                                title: 'Failed To Delete!',
                                text: err.data.message,
                                icon: 'error',
                                showCancelButton: true,
                                showConfirmButton: false,
                                cancelButtonText: 'OK!',
                                reverseButtons: false,
                            })
                        })
                }
            })
        },
    }
}
</script>
